<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--UAT-->
<add name="ConStr" connectionString="Data Source=172.25.1.13;database=AltechIndorePDA;User Id=appuser;Password=AppJet#@!465; Connect Timeout=600;" providerName="System.Data.SqlClient;" />
  </connectionStrings>
  <appSettings>
   <add key="errorFilePath" value="D:\Kavitech_WS_Logs\Altech_PDA_WS\" />   
    <!--function time config-->
    <add key="TimeConfig_PDAFunctions" value="10" />
    <add key="TimeConfig_SendErrorEmail" value="10" />
    <add key="TimeConfig_ReSendMailTimeDiff" value="10" />
    <add key="ServerIP" value="172.25.1.13" />
    <!--functionEnable-->
    <add key="Enable_PostBatchDTL" value="true" />
    <add key="Enable_GetProductDTL" value="true" />
    <add key="Enable_GetSalesOrdersDTL" value="true" />
    <add key="Enable_GetLotQAStatusDTL" value="true" />
    <add key="Enable_GetOperatorDTLAsync" value="true" />
    <add key="Enable_GetBatchStatusDTL" value="true" />
    <add key="Enable_GetCoilTestDTL" value="true" />
    <add key="Enable_GetAFSPlanDTL" value="true" />
    <add key="Enable_POST_DOWNTIME_HDR" value="true" />
    <add key="Enable_POST_DOWNTIME_DTL" value="true" />
    <add key="Enable_POST_ANNEALING_LOG_DATA" value="true" />
    <add key="Enable_POST_MACHINE_BATCH_LOG_DATA" value="true" />
    <add key="Enable_GetLotChangeDTL" value="true" />
    <add key="Enable_SendErrorEmail" value="true" />
    <add key="Enable_GetMaterialTransaction" value="true" />
    <!--Not Use-->
    <add key="TimeConfig_PostBatchDTL" value="10" />
    <add key="TimeConfig_GetProductDTL" value="10" />
    <add key="TimeConfig_GetSalesOrdersDTL" value="10" />
    <add key="TimeConfig_GetOperatorDTLAsync" value="10" />
    <add key="TimeConfig_GetBatchStatusDTL" value="10" />
    <add key="TimeConfig_GetCoilTestDTL" value="10" />
    <add key="TimeConfig_GetLotQAStatusDTL" value="10" />
    <add key="TimeConfig_GetAFSPlanDTL" value="10" />
    <add key="TimeConfig_POST_DOWNTIME_HDR" value="10" />
    <add key="TimeConfig_POST_DOWNTIME_DTL" value="10" />
    <add key="TimeConfig_POST_ANNEALING_LOG_DATA" value="10" />
    <add key="TimeConfig_POST_MACHINE_BATCH_LOG_DATA" value="10" />

    <!--naltechintegration-->
    <!--Production-->
    <add key="Old_BaseURL" value="https://erpprod.srf.com/webservices/rest/altechintegration/"/>
    <add key="Old_BaseURLXMLN" value="http://xmlns.oracle.com/apps/ont/rest/altechintegration/" />
    <add key="Post_batch_dtl" value="post_prod_batch_dtl/" />
    <add key="get_Product_dtl" value="get_product_dtl/" />
    <add key="get_Order_dtl" value="get_sales_orders_dtl/" />
    <add key="confirmation_API" value="post_transaction_conf_dtl/" />
    <!--altechiface-->
    <!--Production-->
    <add key="New_BaseURL" value="https://erpprod.srf.com/webservices/rest/altechiface/" />
    <add key="get_lot_change_dtl" value="GET_LOT_CHANGE_DTL/" />
    <add key="get_Operator_dtl" value="GET_OPERATOR_DTL/" />
    <add key="get_batch_sts_dtl" value="GET_BATCH_STATUS_DTL/" />
    <add key="get_Coil_test_dtl" value="GET_COIL_TEST_DTL/" />
    <add key="POST_DOWNTIME_HDR" value="POST_DOWNTIME_HDR/" />
    <add key="POST_DOWNTIME_DTL" value="POST_DOWNTIME_DTL/" />
    <add key="POST_ANNEALING_LOG_DATA" value="POST_ANNEALING_LOG_DATA/" />
    <add key="POST_MACHINE_BATCH_LOG_DATA" value="POST_MACHINE_BATCH_LOG_DATA/" />
    <add key="get_Lot_QA_sts" value="GET_LOT_QA_STATUS_AL/" />
    <add key="get_AFS_Plan_DTL" value="GET_AFS_PLAN_DTL/" />
    <add key="get_MTL_TRX_DTL" value="GET_MTL_TRX_DTL/" />
    <add key="Xmlns_POST_DOWNTIME_HDR" value="http://xmlns.oracle.com/apps/ont/rest/altechiface/POST_DOWNTIME_HDR/" />
	<add key="Xmlns_POSTDOWNTIMEDTL" value="http://xmlns.oracle.com/apps/ont/rest/altechiface/POST_DOWNTIME_DTL/" />
	<add key="Xmlns_POSTANNEALINGLOGDATA" value="http://xmlns.oracle.com/apps/ont/rest/altechiface/POST_ANNEALING_LOG_DATA/" />
	<add key="Xmlns_POSTMACHINEBATCHLOGDATA" value="http://xmlns.oracle.com/apps/ont/rest/altechiface/POST_MACHINE_BATCH_LOG_DATA/" />
    <!--API Header-->
    <!--Production-->
    <add key="xmlns_header" value="http://xmlns.oracle.com/apps/ont/rest/altechintegration/header" />		
    <add key="xmlns_header_altechiface" value="http://xmlns.oracle.com/apps/ont/rest/altechiface/header" />
    <add key="altechiface_xmlns_header" value="http://xmlns.oracle.com/apps/ont/rest/altechintegration/header" />
    <add key="Responsibility" value="" />
    <add key="RespApplication" value="JA" />
    <add key="SecurityGroup" value="STANDARD" />
    <add key="NLSLanguage" value="AMERICAN" />
    <add key="org_id" value="85" />
    <add key="Post_BatchDTLorg_id" value="85" />
    <add key="P_ORGANIZATION_ID" value="2281" />
    <add key="BATCH_LOG_SEQ_NO" value="1" />
    <!--Basic Auth-->
    <!--Production-->
    <add key="Username" value="API_KAVITECH" />
    <add key="Password" value="ORacle@345" />
    <add key="ServerIP" value="172.25.1.13" />
    <!--Email Crdentials-->
    <add key="SmtpClient" value="smtp.srf.com" />
	<add key="SmtpServer" value="SMTP.SRF.COM" /> 
	<add key="Domain" value="srf-limited" />
	<add key="SmtpEnableSsl" value="false" />
	<add key="SmtpPort" value="25" />
	<add key="smtpFrom" value="pfbit.support@srf.com" />
	<add key="SmtpPassword" value="Talent@123" />
	<!--<add key="smtpRecipient" value="Anshu.Anand@srf.com" />-->
	<add key="SmtpUseDefaultCredentials" value="false" />
	<add key="smtpRecipient" value="Anshu.Anand@srf.com, rajesh@srf.com, Rajesh.Singh@srf.com, Abhudaya.Singh@srf.com, Hemant.Modiya@srf.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>